:root {
  --softOrange: hsl(35, 77%, 62%);
  --softred: hsl(5, 85%, 63%);
  --OffWhite: hsl(36, 100%, 99%);
  --grayishBlue: hsl(233, 8%, 79%);
  --verydarkBlue: hsl(240, 100%, 5%);
  --darkGrayishBlue: hsl(236, 13%, 42%);
}
* *::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}
.main {
  margin: 1.5rem 0.5rem;
  height: 100vh;
}

.sideNav {
  display: none;
}
.logoSite img {
  width: 2.5rem;
  height: 1.75rem;
}
.nav-open-btn {
  position: absolute;
  right: 17px;
  top: 24px;
  cursor: pointer;
}
.nav-close-btn {
  position: absolute;
  right: 30px;
  top: 24px;
  opacity: 0;
  cursor: pointer;
}
.show-nav{
  display: block;
  width: 68%;

  height: 100vh;
  position: absolute;
  right: 0px;
  top: 0px;
  background: var(--OffWhite);
  z-index: 222;
  transition: 0.5s;
  padding-top: 10rem;
}
.showcross{
  opacity: 100%;
}
ul li {
  list-style-type: none;

  padding-bottom: 1rem;
}
a {
  text-decoration: none;
  color: var(--verydarkBlue);
  font-size: 1.5rem;
}
#web-3-mobile{
  margin:0.75rem 0;
  max-width: 100%;

}
p{
  line-height: 1.5rem;
}
button{
  background-color: var(--softred);
  border: none;
  color: white;
  padding: 1rem 3.5rem;
  text-transform: uppercase;
  letter-spacing:0.25rem;
  margin-top: 1.5rem;
  cursor: pointer;
}
.web3-title{
  margin-bottom: 2rem;
}
.newSection{
  background: var(--verydarkBlue);
  padding-bottom:2rem ;
  padding: 0.5rem 1.75rem 0.5rem 1.75rem;
}
.newSection h1{
  color: var(--softOrange);
}
.newSection h2{
  color: var(--OffWhite);
}
.newSection p{
  color: var(--grayishBlue);
}
hr{
  border: 0.1px solid var(--darkGrayishBlue);
}
.bottomSection{
  margin: 1rem 0;
  
}
.bottomSection img{
  max-width: 100%;
  height: 150px;
}
.flex{
  display: flex;
  justify-content: flex-start;
  margin: 2rem 0rem;
}
.detile{
  margin-left: 1rem;
  margin-top: 0;
}
.detile h1,p{
  color: var(--grayishBlue);
  margin: 0;
}
.detile h2{
  margin: 0;
}
