:root {
  --softOrange: hsl(35, 77%, 62%);
  --softred: hsl(5, 85%, 63%);
  --OffWhite: hsl(36, 100%, 99%);
  --grayishBlue: hsl(233, 8%, 79%);
  --verydarkBlue: hsl(240, 100%, 5%);
  --darkGrayishBlue: hsl(236, 13%, 42%);
}
* *::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}
.main {
  margin: 1.5rem 0.5rem;
}
header {
  /* display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; */
}
.sideNav {
  display: none;
  /* width: 68%;

  height: 100vh;
  position: absolute;
  right: 0px;
  top: 0px;
  background: #fefdf9;
  z-index: 1;
  transition: 0.5s;
  padding-top: 10rem; */
}
.logoSite img {
  width: 2.5rem;
  height: 1.75rem;
}
.nav-open-btn {
  position: fixed;
  right: 30px;
  top: 24px;
  cursor: pointer;
}
.nav-close-btn {
  position: absolute;
  right: 30px;
  top: 24px;
  opacity: 0;
  cursor: pointer;
}
.show-nav{
  display: block;
  width: 68%;

  height: 100vh;
  position: absolute;
  right: 0px;
  top: 0px;
  background: var(--OffWhite);
  z-index: 222;
  transition: 0.5s;
  padding-top: 10rem;
}
.showcross{
  opacity: 100%;
}
ul li {
  list-style-type: none;

  padding-bottom: 1rem;
}
a {
  text-decoration: none;
  color: var(--verydarkBlue);
  font-size: 1.5rem;
}
